<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478175059788-i93unsno0puleh3mjqvjj26lpfnbprkq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478175059788-i93unsno0puleh3mjqvjj26lpfnbprkq</string>
	<key>API_KEY</key>
	<string>AIzaSyBKF0jE_GcfbvrzsztqZ0o9wTkGsKSmjHk</string>
	<key>GCM_SENDER_ID</key>
	<string>478175059788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuth</string>
	<key>PROJECT_ID</key>
	<string>cardio-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>cardio-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478175059788:ios:aad41f472287234f63f9e9</string>
</dict>
</plist>